[core]
        repositoryformatversion = 0
        filemode = false
        bare = false
        logallrefupdates = true
        symlinks = false
        ignorecase = true
        editor = vim
        excludesfile = ~/.gitignore
        autocrlf = true
[remote "origin"]
        url = git@github.com:BoobooWei/DBA_Git.git
        fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
        remote = origin
        merge = refs/heads/master
[alias]
        amend = commit --amend
        amendf = commit --amend --no-edit
        br = branch
        ct = commit
        co = checkout
        cp = cherry-pick
        df = diff
        ds = diff --staged
        l = log
        lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
        lp = log --pretty=oneline
        sa = stash apply
        sh = show
        ss = stash save
        st = status

[color]
        ui = auto # UI的默认设置。它在输出直接到终端时为输出着色，但在输出重定向到管道或文件时会省略颜色控制代码，以免导致问题。分支和状态部分正在以下列方式更改git branch和git status命令的输出颜色。
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "status"]
        added = yellow
        changed = green
        untracked = cyan
[color "diff"] # 在执行diff命令时候系统展示的颜色
        meta = yellow
        frag = magenta bold
        commit = yellow bold
        old = red bold
        new = green bold
        whitespace = red reverse
[color "diff-highlight"]
        oldNormal = red bold
        oldHighlight = red bold 52
        newNormal = green bold
        newHighlight = green bold 22

[credential]
        helper = cache --timeout=28800
